.container-fluid {
  padding: 0% 8% 0% 8%;
}
.icona-citysight {
  cursor: pointer;
}
img.icona-citysight {
  width: 12%;
}
button#dropdownBasic1 {
  border: none;
  color: black;
  background-color: white;
}
