<div class="generale">

  <div class="utile">
    <div class="testo">
      <h2>Ottimizza il budget (e il tempo libero)</h2>
      <h3>Visita queste località meno conosciute per una gita veloce e low cost per le tue vacanze.</h3>
    </div>
  </div>

  <div class="populars">
    <h2>Popolari in questo momento</h2>
    <h3>Anche altri viaggiatori amano queste destinazioni. Cerca il percorso adatto a te e unisciti a loro nell'avventura.</h3>
  </div>

  <div class="card">
    <img src="https://primefaces.org/cdn/primeng/images/usercard.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
